/*
 * Ferramenta usada para gerar as sombras 10% mais escuras:
 * - http://www.hexcolortool.com/
 */

/*
 * Próximos recursos
 * - Cores para o blur
 * - Cores para o text-blur
 * - box-shadow também com long shadow
 * - box-shadow gradient
 * - text-shadow gratient
 * - Animações: text-shadow:hover
 *              box-shadow:hover
 *              blur:hover
 *              text-blur:hover
 */

/* COLOR AND SHADOW */

.blur {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.text-blur {
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.4);
}

.shadow {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3),
    1px 1px 0 rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    4px 4px 0 rgba(0, 0, 0, 0.3),
    5px 5px 0 rgba(0, 0, 0, 0.3);
}

/* CORES */
.branco {
    color: #333333 !important;
    background-color: #ffffff;
    border: #d2d2d2 solid 1px;
}

.azul {
    background-color: #1a55dd;
}

.azul-petroleo {
    background-color: #3b7390 !important;
}

.azul-turquesa {
    background-color: #097495;
}

.azul-claro {
    background-color: #3867b7;
}

.azul-escuro {
    background-color: #00439e;
}

.azul-profundo {
    background-color: #434a54 !important;
}

.verde {
    background-color: #017b16;
}

.verde-claro {
    background-color: #56762b;
}

.verde-escuro {
    background-color: #1d571f;
}

.dourado {
    background-color: #b97a00;
}

.laranja {
    background-color: #ba4a00;
}

.roxo {
    background-color: #643c67;
}

.marrom {
    background-color: #753900;
}

.marrom-claro {
    background-color: #826938;
}

.bege {
    background-color: #ab6600;
}

.branco.text-shadow {
    text-shadow: #cccccc 1px 1px,
    #cccccc 2px 2px,
    #cccccc 3px 3px,
    #cccccc 4px 4px,
    #cccccc 5px 5px,
    #cccccc 6px 6px,
    #cccccc 7px 7px,
    #cccccc 8px 8px,
    #cccccc 9px 9px,
    #cccccc 10px 10px,
    #cccccc 11px 11px,
    #cccccc 12px 12px,
    #cccccc 13px 13px,
    #cccccc 14px 14px,
    #cccccc 15px 15px,
    #cccccc 16px 16px,
    #cccccc 17px 17px,
    #cccccc 18px 18px,
    #cccccc 19px 19px,
    #cccccc 20px 20px,
    #cccccc 21px 21px,
    #cccccc 22px 22px,
    #cccccc 23px 23px,
    #cccccc 24px 24px,
    #cccccc 25px 25px,
    #cccccc 26px 26px,
    #cccccc 27px 27px,
    #cccccc 28px 28px,
    #cccccc 29px 29px,
    #cccccc 30px 30px,
    #cccccc 31px 31px,
    #cccccc 32px 32px,
    #cccccc 33px 33px,
    #cccccc 34px 34px,
    #cccccc 35px 35px,
    #cccccc 36px 36px,
    #cccccc 37px 37px,
    #cccccc 38px 38px,
    #cccccc 39px 39px,
    #cccccc 40px 40px,
    #cccccc 41px 41px,
    #cccccc 42px 42px,
    #cccccc 43px 43px,
    #cccccc 44px 44px,
    #cccccc 45px 45px,
    #cccccc 46px 46px,
    #cccccc 47px 47px,
    #cccccc 48px 48px,
    #cccccc 49px 49px,
    #cccccc 50px 50px,
    #cccccc 51px 51px,
    #cccccc 52px 52px,
    #cccccc 53px 53px,
    #cccccc 54px 54px,
    #cccccc 55px 55px,
    #cccccc 56px 56px,
    #cccccc 57px 57px,
    #cccccc 58px 58px,
    #cccccc 59px 59px,
    #cccccc 60px 60px,
    #cccccc 61px 61px,
    #cccccc 62px 62px,
    #cccccc 63px 63px,
    #cccccc 64px 64px,
    #cccccc 65px 65px,
    #cccccc 66px 66px,
    #cccccc 67px 67px,
    #cccccc 68px 68px,
    #cccccc 69px 69px,
    #cccccc 70px 70px,
    #cccccc 71px 71px,
    #cccccc 72px 72px,
    #cccccc 73px 73px,
    #cccccc 74px 74px,
    #cccccc 75px 75px,
    #cccccc 76px 76px,
    #cccccc 77px 77px,
    #cccccc 78px 78px,
    #cccccc 79px 79px,
    #cccccc 80px 80px,
    #cccccc 81px 81px,
    #cccccc 82px 82px,
    #cccccc 83px 83px,
    #cccccc 84px 84px,
    #cccccc 85px 85px,
    #cccccc 86px 86px,
    #cccccc 87px 87px,
    #cccccc 88px 88px,
    #cccccc 89px 89px,
    #cccccc 90px 90px,
    #cccccc 91px 91px,
    #cccccc 92px 92px,
    #cccccc 93px 93px,
    #cccccc 94px 94px,
    #cccccc 95px 95px,
    #cccccc 96px 96px,
    #cccccc 97px 97px,
    #cccccc 98px 98px,
    #cccccc 99px 99px,
    #cccccc 100px 100px;
}

.verde.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px,
    #006200 2px 2px,
    #006200 3px 3px,
    #006200 4px 4px,
    #006200 5px 5px,
    #006200 6px 6px,
    #006200 7px 7px,
    #006200 8px 8px,
    #006200 9px 9px,
    #006200 10px 10px,
    #006200 11px 11px,
    #006200 12px 12px,
    #006200 13px 13px,
    #006200 14px 14px,
    #006200 15px 15px,
    #006200 16px 16px,
    #006200 17px 17px,
    #006200 18px 18px,
    #006200 19px 19px,
    #006200 20px 20px,
    #006200 21px 21px,
    #006200 22px 22px,
    #006200 23px 23px,
    #006200 24px 24px,
    #006200 25px 25px,
    #006200 26px 26px,
    #006200 27px 27px,
    #006200 28px 28px,
    #006200 29px 29px,
    #006200 30px 30px,
    #006200 31px 31px,
    #006200 32px 32px,
    #006200 33px 33px,
    #006200 34px 34px,
    #006200 35px 35px,
    #006200 36px 36px,
    #006200 37px 37px,
    #006200 38px 38px,
    #006200 39px 39px,
    #006200 40px 40px,
    #006200 41px 41px,
    #006200 42px 42px,
    #006200 43px 43px,
    #006200 44px 44px,
    #006200 45px 45px,
    #006200 46px 46px,
    #006200 47px 47px,
    #006200 48px 48px,
    #006200 49px 49px,
    #006200 50px 50px,
    #006200 51px 51px,
    #006200 52px 52px,
    #006200 53px 53px,
    #006200 54px 54px,
    #006200 55px 55px,
    #006200 56px 56px,
    #006200 57px 57px,
    #006200 58px 58px,
    #006200 59px 59px,
    #006200 60px 60px,
    #006200 61px 61px,
    #006200 62px 62px,
    #006200 63px 63px,
    #006200 64px 64px,
    #006200 65px 65px,
    #006200 66px 66px,
    #006200 67px 67px,
    #006200 68px 68px,
    #006200 69px 69px,
    #006200 70px 70px,
    #006200 71px 71px,
    #006200 72px 72px,
    #006200 73px 73px,
    #006200 74px 74px,
    #006200 75px 75px,
    #006200 76px 76px,
    #006200 77px 77px,
    #006200 78px 78px,
    #006200 79px 79px,
    #006200 80px 80px,
    #006200 81px 81px,
    #006200 82px 82px,
    #006200 83px 83px,
    #006200 84px 84px,
    #006200 85px 85px,
    #006200 86px 86px,
    #006200 87px 87px,
    #006200 88px 88px,
    #006200 89px 89px,
    #006200 90px 90px,
    #006200 91px 91px,
    #006200 92px 92px,
    #006200 93px 93px,
    #006200 94px 94px,
    #006200 95px 95px,
    #006200 96px 96px,
    #006200 97px 97px,
    #006200 98px 98px,
    #006200 99px 99px,
    #006200 100px 100px;
}

.verde-claro.text-shadow {
    text-shadow: #3D5D12 1px 1px,
    #3D5D12 2px 2px,
    #3D5D12 3px 3px,
    #3D5D12 4px 4px,
    #3D5D12 5px 5px,
    #3D5D12 6px 6px,
    #3D5D12 7px 7px,
    #3D5D12 8px 8px,
    #3D5D12 9px 9px,
    #3D5D12 10px 10px,
    #3D5D12 11px 11px,
    #3D5D12 12px 12px,
    #3D5D12 13px 13px,
    #3D5D12 14px 14px,
    #3D5D12 15px 15px,
    #3D5D12 16px 16px,
    #3D5D12 17px 17px,
    #3D5D12 18px 18px,
    #3D5D12 19px 19px,
    #3D5D12 20px 20px,
    #3D5D12 21px 21px,
    #3D5D12 22px 22px,
    #3D5D12 23px 23px,
    #3D5D12 24px 24px,
    #3D5D12 25px 25px,
    #3D5D12 26px 26px,
    #3D5D12 27px 27px,
    #3D5D12 28px 28px,
    #3D5D12 29px 29px,
    #3D5D12 30px 30px,
    #3D5D12 31px 31px,
    #3D5D12 32px 32px,
    #3D5D12 33px 33px,
    #3D5D12 34px 34px,
    #3D5D12 35px 35px,
    #3D5D12 36px 36px,
    #3D5D12 37px 37px,
    #3D5D12 38px 38px,
    #3D5D12 39px 39px,
    #3D5D12 40px 40px,
    #3D5D12 41px 41px,
    #3D5D12 42px 42px,
    #3D5D12 43px 43px,
    #3D5D12 44px 44px,
    #3D5D12 45px 45px,
    #3D5D12 46px 46px,
    #3D5D12 47px 47px,
    #3D5D12 48px 48px,
    #3D5D12 49px 49px,
    #3D5D12 50px 50px,
    #3D5D12 51px 51px,
    #3D5D12 52px 52px,
    #3D5D12 53px 53px,
    #3D5D12 54px 54px,
    #3D5D12 55px 55px,
    #3D5D12 56px 56px,
    #3D5D12 57px 57px,
    #3D5D12 58px 58px,
    #3D5D12 59px 59px,
    #3D5D12 60px 60px,
    #3D5D12 61px 61px,
    #3D5D12 62px 62px,
    #3D5D12 63px 63px,
    #3D5D12 64px 64px,
    #3D5D12 65px 65px,
    #3D5D12 66px 66px,
    #3D5D12 67px 67px,
    #3D5D12 68px 68px,
    #3D5D12 69px 69px,
    #3D5D12 70px 70px,
    #3D5D12 71px 71px,
    #3D5D12 72px 72px,
    #3D5D12 73px 73px,
    #3D5D12 74px 74px,
    #3D5D12 75px 75px,
    #3D5D12 76px 76px,
    #3D5D12 77px 77px,
    #3D5D12 78px 78px,
    #3D5D12 79px 79px,
    #3D5D12 80px 80px,
    #3D5D12 81px 81px,
    #3D5D12 82px 82px,
    #3D5D12 83px 83px,
    #3D5D12 84px 84px,
    #3D5D12 85px 85px,
    #3D5D12 86px 86px,
    #3D5D12 87px 87px,
    #3D5D12 88px 88px,
    #3D5D12 89px 89px,
    #3D5D12 90px 90px,
    #3D5D12 91px 91px,
    #3D5D12 92px 92px,
    #3D5D12 93px 93px,
    #3D5D12 94px 94px,
    #3D5D12 95px 95px,
    #3D5D12 96px 96px,
    #3D5D12 97px 97px,
    #3D5D12 98px 98px,
    #3D5D12 99px 99px,
    #3D5D12 100px 100px;
}

.verde-escuro.text-shadow {
    text-shadow: #043E06 1px 1px,
    #043E06 2px 2px,
    #043E06 3px 3px,
    #043E06 4px 4px,
    #043E06 5px 5px,
    #043E06 6px 6px,
    #043E06 7px 7px,
    #043E06 8px 8px,
    #043E06 9px 9px,
    #043E06 10px 10px,
    #043E06 11px 11px,
    #043E06 12px 12px,
    #043E06 13px 13px,
    #043E06 14px 14px,
    #043E06 15px 15px,
    #043E06 16px 16px,
    #043E06 17px 17px,
    #043E06 18px 18px,
    #043E06 19px 19px,
    #043E06 20px 20px,
    #043E06 21px 21px,
    #043E06 22px 22px,
    #043E06 23px 23px,
    #043E06 24px 24px,
    #043E06 25px 25px,
    #043E06 26px 26px,
    #043E06 27px 27px,
    #043E06 28px 28px,
    #043E06 29px 29px,
    #043E06 30px 30px,
    #043E06 31px 31px,
    #043E06 32px 32px,
    #043E06 33px 33px,
    #043E06 34px 34px,
    #043E06 35px 35px,
    #043E06 36px 36px,
    #043E06 37px 37px,
    #043E06 38px 38px,
    #043E06 39px 39px,
    #043E06 40px 40px,
    #043E06 41px 41px,
    #043E06 42px 42px,
    #043E06 43px 43px,
    #043E06 44px 44px,
    #043E06 45px 45px,
    #043E06 46px 46px,
    #043E06 47px 47px,
    #043E06 48px 48px,
    #043E06 49px 49px,
    #043E06 50px 50px,
    #043E06 51px 51px,
    #043E06 52px 52px,
    #043E06 53px 53px,
    #043E06 54px 54px,
    #043E06 55px 55px,
    #043E06 56px 56px,
    #043E06 57px 57px,
    #043E06 58px 58px,
    #043E06 59px 59px,
    #043E06 60px 60px,
    #043E06 61px 61px,
    #043E06 62px 62px,
    #043E06 63px 63px,
    #043E06 64px 64px,
    #043E06 65px 65px,
    #043E06 66px 66px,
    #043E06 67px 67px,
    #043E06 68px 68px,
    #043E06 69px 69px,
    #043E06 70px 70px,
    #043E06 71px 71px,
    #043E06 72px 72px,
    #043E06 73px 73px,
    #043E06 74px 74px,
    #043E06 75px 75px,
    #043E06 76px 76px,
    #043E06 77px 77px,
    #043E06 78px 78px,
    #043E06 79px 79px,
    #043E06 80px 80px,
    #043E06 81px 81px,
    #043E06 82px 82px,
    #043E06 83px 83px,
    #043E06 84px 84px,
    #043E06 85px 85px,
    #043E06 86px 86px,
    #043E06 87px 87px,
    #043E06 88px 88px,
    #043E06 89px 89px,
    #043E06 90px 90px,
    #043E06 91px 91px,
    #043E06 92px 92px,
    #043E06 93px 93px,
    #043E06 94px 94px,
    #043E06 95px 95px,
    #043E06 96px 96px,
    #043E06 97px 97px,
    #043E06 98px 98px,
    #043E06 99px 99px,
    #043E06 100px 100px;
}

.dourado.text-shadow {
    text-shadow: #A06100 1px 1px,
    #A06100 2px 2px,
    #A06100 3px 3px,
    #A06100 4px 4px,
    #A06100 5px 5px,
    #A06100 6px 6px,
    #A06100 7px 7px,
    #A06100 8px 8px,
    #A06100 9px 9px,
    #A06100 10px 10px,
    #A06100 11px 11px,
    #A06100 12px 12px,
    #A06100 13px 13px,
    #A06100 14px 14px,
    #A06100 15px 15px,
    #A06100 16px 16px,
    #A06100 17px 17px,
    #A06100 18px 18px,
    #A06100 19px 19px,
    #A06100 20px 20px,
    #A06100 21px 21px,
    #A06100 22px 22px,
    #A06100 23px 23px,
    #A06100 24px 24px,
    #A06100 25px 25px,
    #A06100 26px 26px,
    #A06100 27px 27px,
    #A06100 28px 28px,
    #A06100 29px 29px,
    #A06100 30px 30px,
    #A06100 31px 31px,
    #A06100 32px 32px,
    #A06100 33px 33px,
    #A06100 34px 34px,
    #A06100 35px 35px,
    #A06100 36px 36px,
    #A06100 37px 37px,
    #A06100 38px 38px,
    #A06100 39px 39px,
    #A06100 40px 40px,
    #A06100 41px 41px,
    #A06100 42px 42px,
    #A06100 43px 43px,
    #A06100 44px 44px,
    #A06100 45px 45px,
    #A06100 46px 46px,
    #A06100 47px 47px,
    #A06100 48px 48px,
    #A06100 49px 49px,
    #A06100 50px 50px,
    #A06100 51px 51px,
    #A06100 52px 52px,
    #A06100 53px 53px,
    #A06100 54px 54px,
    #A06100 55px 55px,
    #A06100 56px 56px,
    #A06100 57px 57px,
    #A06100 58px 58px,
    #A06100 59px 59px,
    #A06100 60px 60px,
    #A06100 61px 61px,
    #A06100 62px 62px,
    #A06100 63px 63px,
    #A06100 64px 64px,
    #A06100 65px 65px,
    #A06100 66px 66px,
    #A06100 67px 67px,
    #A06100 68px 68px,
    #A06100 69px 69px,
    #A06100 70px 70px,
    #A06100 71px 71px,
    #A06100 72px 72px,
    #A06100 73px 73px,
    #A06100 74px 74px,
    #A06100 75px 75px,
    #A06100 76px 76px,
    #A06100 77px 77px,
    #A06100 78px 78px,
    #A06100 79px 79px,
    #A06100 80px 80px,
    #A06100 81px 81px,
    #A06100 82px 82px,
    #A06100 83px 83px,
    #A06100 84px 84px,
    #A06100 85px 85px,
    #A06100 86px 86px,
    #A06100 87px 87px,
    #A06100 88px 88px,
    #A06100 89px 89px,
    #A06100 90px 90px,
    #A06100 91px 91px,
    #A06100 92px 92px,
    #A06100 93px 93px,
    #A06100 94px 94px,
    #A06100 95px 95px,
    #A06100 96px 96px,
    #A06100 97px 97px,
    #A06100 98px 98px,
    #A06100 99px 99px,
    #A06100 100px 100px;
}

.laranja.text-shadow {
    text-shadow: #A13100 1px 1px,
    #A13100 2px 2px,
    #A13100 3px 3px,
    #A13100 4px 4px,
    #A13100 5px 5px,
    #A13100 6px 6px,
    #A13100 7px 7px,
    #A13100 8px 8px,
    #A13100 9px 9px,
    #A13100 10px 10px,
    #A13100 11px 11px,
    #A13100 12px 12px,
    #A13100 13px 13px,
    #A13100 14px 14px,
    #A13100 15px 15px,
    #A13100 16px 16px,
    #A13100 17px 17px,
    #A13100 18px 18px,
    #A13100 19px 19px,
    #A13100 20px 20px,
    #A13100 21px 21px,
    #A13100 22px 22px,
    #A13100 23px 23px,
    #A13100 24px 24px,
    #A13100 25px 25px,
    #A13100 26px 26px,
    #A13100 27px 27px,
    #A13100 28px 28px,
    #A13100 29px 29px,
    #A13100 30px 30px,
    #A13100 31px 31px,
    #A13100 32px 32px,
    #A13100 33px 33px,
    #A13100 34px 34px,
    #A13100 35px 35px,
    #A13100 36px 36px,
    #A13100 37px 37px,
    #A13100 38px 38px,
    #A13100 39px 39px,
    #A13100 40px 40px,
    #A13100 41px 41px,
    #A13100 42px 42px,
    #A13100 43px 43px,
    #A13100 44px 44px,
    #A13100 45px 45px,
    #A13100 46px 46px,
    #A13100 47px 47px,
    #A13100 48px 48px,
    #A13100 49px 49px,
    #A13100 50px 50px,
    #A13100 51px 51px,
    #A13100 52px 52px,
    #A13100 53px 53px,
    #A13100 54px 54px,
    #A13100 55px 55px,
    #A13100 56px 56px,
    #A13100 57px 57px,
    #A13100 58px 58px,
    #A13100 59px 59px,
    #A13100 60px 60px,
    #A13100 61px 61px,
    #A13100 62px 62px,
    #A13100 63px 63px,
    #A13100 64px 64px,
    #A13100 65px 65px,
    #A13100 66px 66px,
    #A13100 67px 67px,
    #A13100 68px 68px,
    #A13100 69px 69px,
    #A13100 70px 70px,
    #A13100 71px 71px,
    #A13100 72px 72px,
    #A13100 73px 73px,
    #A13100 74px 74px,
    #A13100 75px 75px,
    #A13100 76px 76px,
    #A13100 77px 77px,
    #A13100 78px 78px,
    #A13100 79px 79px,
    #A13100 80px 80px,
    #A13100 81px 81px,
    #A13100 82px 82px,
    #A13100 83px 83px,
    #A13100 84px 84px,
    #A13100 85px 85px,
    #A13100 86px 86px,
    #A13100 87px 87px,
    #A13100 88px 88px,
    #A13100 89px 89px,
    #A13100 90px 90px,
    #A13100 91px 91px,
    #A13100 92px 92px,
    #A13100 93px 93px,
    #A13100 94px 94px,
    #A13100 95px 95px,
    #A13100 96px 96px,
    #A13100 97px 97px,
    #A13100 98px 98px,
    #A13100 99px 99px,
    #A13100 100px 100px;
}

.roxo.text-shadow {
    text-shadow: #4B234E 1px 1px,
    #4B234E 2px 2px,
    #4B234E 3px 3px,
    #4B234E 4px 4px,
    #4B234E 5px 5px,
    #4B234E 6px 6px,
    #4B234E 7px 7px,
    #4B234E 8px 8px,
    #4B234E 9px 9px,
    #4B234E 10px 10px,
    #4B234E 11px 11px,
    #4B234E 12px 12px,
    #4B234E 13px 13px,
    #4B234E 14px 14px,
    #4B234E 15px 15px,
    #4B234E 16px 16px,
    #4B234E 17px 17px,
    #4B234E 18px 18px,
    #4B234E 19px 19px,
    #4B234E 20px 20px,
    #4B234E 21px 21px,
    #4B234E 22px 22px,
    #4B234E 23px 23px,
    #4B234E 24px 24px,
    #4B234E 25px 25px,
    #4B234E 26px 26px,
    #4B234E 27px 27px,
    #4B234E 28px 28px,
    #4B234E 29px 29px,
    #4B234E 30px 30px,
    #4B234E 31px 31px,
    #4B234E 32px 32px,
    #4B234E 33px 33px,
    #4B234E 34px 34px,
    #4B234E 35px 35px,
    #4B234E 36px 36px,
    #4B234E 37px 37px,
    #4B234E 38px 38px,
    #4B234E 39px 39px,
    #4B234E 40px 40px,
    #4B234E 41px 41px,
    #4B234E 42px 42px,
    #4B234E 43px 43px,
    #4B234E 44px 44px,
    #4B234E 45px 45px,
    #4B234E 46px 46px,
    #4B234E 47px 47px,
    #4B234E 48px 48px,
    #4B234E 49px 49px,
    #4B234E 50px 50px,
    #4B234E 51px 51px,
    #4B234E 52px 52px,
    #4B234E 53px 53px,
    #4B234E 54px 54px,
    #4B234E 55px 55px,
    #4B234E 56px 56px,
    #4B234E 57px 57px,
    #4B234E 58px 58px,
    #4B234E 59px 59px,
    #4B234E 60px 60px,
    #4B234E 61px 61px,
    #4B234E 62px 62px,
    #4B234E 63px 63px,
    #4B234E 64px 64px,
    #4B234E 65px 65px,
    #4B234E 66px 66px,
    #4B234E 67px 67px,
    #4B234E 68px 68px,
    #4B234E 69px 69px,
    #4B234E 70px 70px,
    #4B234E 71px 71px,
    #4B234E 72px 72px,
    #4B234E 73px 73px,
    #4B234E 74px 74px,
    #4B234E 75px 75px,
    #4B234E 76px 76px,
    #4B234E 77px 77px,
    #4B234E 78px 78px,
    #4B234E 79px 79px,
    #4B234E 80px 80px,
    #4B234E 81px 81px,
    #4B234E 82px 82px,
    #4B234E 83px 83px,
    #4B234E 84px 84px,
    #4B234E 85px 85px,
    #4B234E 86px 86px,
    #4B234E 87px 87px,
    #4B234E 88px 88px,
    #4B234E 89px 89px,
    #4B234E 90px 90px,
    #4B234E 91px 91px,
    #4B234E 92px 92px,
    #4B234E 93px 93px,
    #4B234E 94px 94px,
    #4B234E 95px 95px,
    #4B234E 96px 96px,
    #4B234E 97px 97px,
    #4B234E 98px 98px,
    #4B234E 99px 99px,
    #4B234E 100px 100px;
}

.marrom.text-shadow {
    text-shadow: #5C2000 1px 1px,
    #5C2000 2px 2px,
    #5C2000 3px 3px,
    #5C2000 4px 4px,
    #5C2000 5px 5px,
    #5C2000 6px 6px,
    #5C2000 7px 7px,
    #5C2000 8px 8px,
    #5C2000 9px 9px,
    #5C2000 10px 10px,
    #5C2000 11px 11px,
    #5C2000 12px 12px,
    #5C2000 13px 13px,
    #5C2000 14px 14px,
    #5C2000 15px 15px,
    #5C2000 16px 16px,
    #5C2000 17px 17px,
    #5C2000 18px 18px,
    #5C2000 19px 19px,
    #5C2000 20px 20px,
    #5C2000 21px 21px,
    #5C2000 22px 22px,
    #5C2000 23px 23px,
    #5C2000 24px 24px,
    #5C2000 25px 25px,
    #5C2000 26px 26px,
    #5C2000 27px 27px,
    #5C2000 28px 28px,
    #5C2000 29px 29px,
    #5C2000 30px 30px,
    #5C2000 31px 31px,
    #5C2000 32px 32px,
    #5C2000 33px 33px,
    #5C2000 34px 34px,
    #5C2000 35px 35px,
    #5C2000 36px 36px,
    #5C2000 37px 37px,
    #5C2000 38px 38px,
    #5C2000 39px 39px,
    #5C2000 40px 40px,
    #5C2000 41px 41px,
    #5C2000 42px 42px,
    #5C2000 43px 43px,
    #5C2000 44px 44px,
    #5C2000 45px 45px,
    #5C2000 46px 46px,
    #5C2000 47px 47px,
    #5C2000 48px 48px,
    #5C2000 49px 49px,
    #5C2000 50px 50px,
    #5C2000 51px 51px,
    #5C2000 52px 52px,
    #5C2000 53px 53px,
    #5C2000 54px 54px,
    #5C2000 55px 55px,
    #5C2000 56px 56px,
    #5C2000 57px 57px,
    #5C2000 58px 58px,
    #5C2000 59px 59px,
    #5C2000 60px 60px,
    #5C2000 61px 61px,
    #5C2000 62px 62px,
    #5C2000 63px 63px,
    #5C2000 64px 64px,
    #5C2000 65px 65px,
    #5C2000 66px 66px,
    #5C2000 67px 67px,
    #5C2000 68px 68px,
    #5C2000 69px 69px,
    #5C2000 70px 70px,
    #5C2000 71px 71px,
    #5C2000 72px 72px,
    #5C2000 73px 73px,
    #5C2000 74px 74px,
    #5C2000 75px 75px,
    #5C2000 76px 76px,
    #5C2000 77px 77px,
    #5C2000 78px 78px,
    #5C2000 79px 79px,
    #5C2000 80px 80px,
    #5C2000 81px 81px,
    #5C2000 82px 82px,
    #5C2000 83px 83px,
    #5C2000 84px 84px,
    #5C2000 85px 85px,
    #5C2000 86px 86px,
    #5C2000 87px 87px,
    #5C2000 88px 88px,
    #5C2000 89px 89px,
    #5C2000 90px 90px,
    #5C2000 91px 91px,
    #5C2000 92px 92px,
    #5C2000 93px 93px,
    #5C2000 94px 94px,
    #5C2000 95px 95px,
    #5C2000 96px 96px,
    #5C2000 97px 97px,
    #5C2000 98px 98px,
    #5C2000 99px 99px,
    #5C2000 100px 100px;
}

.marrom-claro.text-shadow {
    text-shadow: #69501F 1px 1px,
    #69501F 2px 2px,
    #69501F 3px 3px,
    #69501F 4px 4px,
    #69501F 5px 5px,
    #69501F 6px 6px,
    #69501F 7px 7px,
    #69501F 8px 8px,
    #69501F 9px 9px,
    #69501F 10px 10px,
    #69501F 11px 11px,
    #69501F 12px 12px,
    #69501F 13px 13px,
    #69501F 14px 14px,
    #69501F 15px 15px,
    #69501F 16px 16px,
    #69501F 17px 17px,
    #69501F 18px 18px,
    #69501F 19px 19px,
    #69501F 20px 20px,
    #69501F 21px 21px,
    #69501F 22px 22px,
    #69501F 23px 23px,
    #69501F 24px 24px,
    #69501F 25px 25px,
    #69501F 26px 26px,
    #69501F 27px 27px,
    #69501F 28px 28px,
    #69501F 29px 29px,
    #69501F 30px 30px,
    #69501F 31px 31px,
    #69501F 32px 32px,
    #69501F 33px 33px,
    #69501F 34px 34px,
    #69501F 35px 35px,
    #69501F 36px 36px,
    #69501F 37px 37px,
    #69501F 38px 38px,
    #69501F 39px 39px,
    #69501F 40px 40px,
    #69501F 41px 41px,
    #69501F 42px 42px,
    #69501F 43px 43px,
    #69501F 44px 44px,
    #69501F 45px 45px,
    #69501F 46px 46px,
    #69501F 47px 47px,
    #69501F 48px 48px,
    #69501F 49px 49px,
    #69501F 50px 50px,
    #69501F 51px 51px,
    #69501F 52px 52px,
    #69501F 53px 53px,
    #69501F 54px 54px,
    #69501F 55px 55px,
    #69501F 56px 56px,
    #69501F 57px 57px,
    #69501F 58px 58px,
    #69501F 59px 59px,
    #69501F 60px 60px,
    #69501F 61px 61px,
    #69501F 62px 62px,
    #69501F 63px 63px,
    #69501F 64px 64px,
    #69501F 65px 65px,
    #69501F 66px 66px,
    #69501F 67px 67px,
    #69501F 68px 68px,
    #69501F 69px 69px,
    #69501F 70px 70px,
    #69501F 71px 71px,
    #69501F 72px 72px,
    #69501F 73px 73px,
    #69501F 74px 74px,
    #69501F 75px 75px,
    #69501F 76px 76px,
    #69501F 77px 77px,
    #69501F 78px 78px,
    #69501F 79px 79px,
    #69501F 80px 80px,
    #69501F 81px 81px,
    #69501F 82px 82px,
    #69501F 83px 83px,
    #69501F 84px 84px,
    #69501F 85px 85px,
    #69501F 86px 86px,
    #69501F 87px 87px,
    #69501F 88px 88px,
    #69501F 89px 89px,
    #69501F 90px 90px,
    #69501F 91px 91px,
    #69501F 92px 92px,
    #69501F 93px 93px,
    #69501F 94px 94px,
    #69501F 95px 95px,
    #69501F 96px 96px,
    #69501F 97px 97px,
    #69501F 98px 98px,
    #69501F 99px 99px,
    #69501F 100px 100px;
}

.bege.text-shadow {
    text-shadow: #924D00 1px 1px,
    #924D00 2px 2px,
    #924D00 3px 3px,
    #924D00 4px 4px,
    #924D00 5px 5px,
    #924D00 6px 6px,
    #924D00 7px 7px,
    #924D00 8px 8px,
    #924D00 9px 9px,
    #924D00 10px 10px,
    #924D00 11px 11px,
    #924D00 12px 12px,
    #924D00 13px 13px,
    #924D00 14px 14px,
    #924D00 15px 15px,
    #924D00 16px 16px,
    #924D00 17px 17px,
    #924D00 18px 18px,
    #924D00 19px 19px,
    #924D00 20px 20px,
    #924D00 21px 21px,
    #924D00 22px 22px,
    #924D00 23px 23px,
    #924D00 24px 24px,
    #924D00 25px 25px,
    #924D00 26px 26px,
    #924D00 27px 27px,
    #924D00 28px 28px,
    #924D00 29px 29px,
    #924D00 30px 30px,
    #924D00 31px 31px,
    #924D00 32px 32px,
    #924D00 33px 33px,
    #924D00 34px 34px,
    #924D00 35px 35px,
    #924D00 36px 36px,
    #924D00 37px 37px,
    #924D00 38px 38px,
    #924D00 39px 39px,
    #924D00 40px 40px,
    #924D00 41px 41px,
    #924D00 42px 42px,
    #924D00 43px 43px,
    #924D00 44px 44px,
    #924D00 45px 45px,
    #924D00 46px 46px,
    #924D00 47px 47px,
    #924D00 48px 48px,
    #924D00 49px 49px,
    #924D00 50px 50px,
    #924D00 51px 51px,
    #924D00 52px 52px,
    #924D00 53px 53px,
    #924D00 54px 54px,
    #924D00 55px 55px,
    #924D00 56px 56px,
    #924D00 57px 57px,
    #924D00 58px 58px,
    #924D00 59px 59px,
    #924D00 60px 60px,
    #924D00 61px 61px,
    #924D00 62px 62px,
    #924D00 63px 63px,
    #924D00 64px 64px,
    #924D00 65px 65px,
    #924D00 66px 66px,
    #924D00 67px 67px,
    #924D00 68px 68px,
    #924D00 69px 69px,
    #924D00 70px 70px,
    #924D00 71px 71px,
    #924D00 72px 72px,
    #924D00 73px 73px,
    #924D00 74px 74px,
    #924D00 75px 75px,
    #924D00 76px 76px,
    #924D00 77px 77px,
    #924D00 78px 78px,
    #924D00 79px 79px,
    #924D00 80px 80px,
    #924D00 81px 81px,
    #924D00 82px 82px,
    #924D00 83px 83px,
    #924D00 84px 84px,
    #924D00 85px 85px,
    #924D00 86px 86px,
    #924D00 87px 87px,
    #924D00 88px 88px,
    #924D00 89px 89px,
    #924D00 90px 90px,
    #924D00 91px 91px,
    #924D00 92px 92px,
    #924D00 93px 93px,
    #924D00 94px 94px,
    #924D00 95px 95px,
    #924D00 96px 96px,
    #924D00 97px 97px,
    #924D00 98px 98px,
    #924D00 99px 99px,
    #924D00 100px 100px;
}

.azul.text-shadow {
    text-shadow: #013CC4 1px 1px,
    #013CC4 2px 2px,
    #013CC4 3px 3px,
    #013CC4 4px 4px,
    #013CC4 5px 5px,
    #013CC4 6px 6px,
    #013CC4 7px 7px,
    #013CC4 8px 8px,
    #013CC4 9px 9px,
    #013CC4 10px 10px,
    #013CC4 11px 11px,
    #013CC4 12px 12px,
    #013CC4 13px 13px,
    #013CC4 14px 14px,
    #013CC4 15px 15px,
    #013CC4 16px 16px,
    #013CC4 17px 17px,
    #013CC4 18px 18px,
    #013CC4 19px 19px,
    #013CC4 20px 20px,
    #013CC4 21px 21px,
    #013CC4 22px 22px,
    #013CC4 23px 23px,
    #013CC4 24px 24px,
    #013CC4 25px 25px,
    #013CC4 26px 26px,
    #013CC4 27px 27px,
    #013CC4 28px 28px,
    #013CC4 29px 29px,
    #013CC4 30px 30px,
    #013CC4 31px 31px,
    #013CC4 32px 32px,
    #013CC4 33px 33px,
    #013CC4 34px 34px,
    #013CC4 35px 35px,
    #013CC4 36px 36px,
    #013CC4 37px 37px,
    #013CC4 38px 38px,
    #013CC4 39px 39px,
    #013CC4 40px 40px,
    #013CC4 41px 41px,
    #013CC4 42px 42px,
    #013CC4 43px 43px,
    #013CC4 44px 44px,
    #013CC4 45px 45px,
    #013CC4 46px 46px,
    #013CC4 47px 47px,
    #013CC4 48px 48px,
    #013CC4 49px 49px,
    #013CC4 50px 50px,
    #013CC4 51px 51px,
    #013CC4 52px 52px,
    #013CC4 53px 53px,
    #013CC4 54px 54px,
    #013CC4 55px 55px,
    #013CC4 56px 56px,
    #013CC4 57px 57px,
    #013CC4 58px 58px,
    #013CC4 59px 59px,
    #013CC4 60px 60px,
    #013CC4 61px 61px,
    #013CC4 62px 62px,
    #013CC4 63px 63px,
    #013CC4 64px 64px,
    #013CC4 65px 65px,
    #013CC4 66px 66px,
    #013CC4 67px 67px,
    #013CC4 68px 68px,
    #013CC4 69px 69px,
    #013CC4 70px 70px,
    #013CC4 71px 71px,
    #013CC4 72px 72px,
    #013CC4 73px 73px,
    #013CC4 74px 74px,
    #013CC4 75px 75px,
    #013CC4 76px 76px,
    #013CC4 77px 77px,
    #013CC4 78px 78px,
    #013CC4 79px 79px,
    #013CC4 80px 80px,
    #013CC4 81px 81px,
    #013CC4 82px 82px,
    #013CC4 83px 83px,
    #013CC4 84px 84px,
    #013CC4 85px 85px,
    #013CC4 86px 86px,
    #013CC4 87px 87px,
    #013CC4 88px 88px,
    #013CC4 89px 89px,
    #013CC4 90px 90px,
    #013CC4 91px 91px,
    #013CC4 92px 92px,
    #013CC4 93px 93px,
    #013CC4 94px 94px,
    #013CC4 95px 95px,
    #013CC4 96px 96px,
    #013CC4 97px 97px,
    #013CC4 98px 98px,
    #013CC4 99px 99px,
    #013CC4 100px 100px;
}

.azul-claro.text-shadow {
    text-shadow: #1F4E9E 1px 1px,
    #1F4E9E 2px 2px,
    #1F4E9E 3px 3px,
    #1F4E9E 4px 4px,
    #1F4E9E 5px 5px,
    #1F4E9E 6px 6px,
    #1F4E9E 7px 7px,
    #1F4E9E 8px 8px,
    #1F4E9E 9px 9px,
    #1F4E9E 10px 10px,
    #1F4E9E 11px 11px,
    #1F4E9E 12px 12px,
    #1F4E9E 13px 13px,
    #1F4E9E 14px 14px,
    #1F4E9E 15px 15px,
    #1F4E9E 16px 16px,
    #1F4E9E 17px 17px,
    #1F4E9E 18px 18px,
    #1F4E9E 19px 19px,
    #1F4E9E 20px 20px,
    #1F4E9E 21px 21px,
    #1F4E9E 22px 22px,
    #1F4E9E 23px 23px,
    #1F4E9E 24px 24px,
    #1F4E9E 25px 25px,
    #1F4E9E 26px 26px,
    #1F4E9E 27px 27px,
    #1F4E9E 28px 28px,
    #1F4E9E 29px 29px,
    #1F4E9E 30px 30px,
    #1F4E9E 31px 31px,
    #1F4E9E 32px 32px,
    #1F4E9E 33px 33px,
    #1F4E9E 34px 34px,
    #1F4E9E 35px 35px,
    #1F4E9E 36px 36px,
    #1F4E9E 37px 37px,
    #1F4E9E 38px 38px,
    #1F4E9E 39px 39px,
    #1F4E9E 40px 40px,
    #1F4E9E 41px 41px,
    #1F4E9E 42px 42px,
    #1F4E9E 43px 43px,
    #1F4E9E 44px 44px,
    #1F4E9E 45px 45px,
    #1F4E9E 46px 46px,
    #1F4E9E 47px 47px,
    #1F4E9E 48px 48px,
    #1F4E9E 49px 49px,
    #1F4E9E 50px 50px,
    #1F4E9E 51px 51px,
    #1F4E9E 52px 52px,
    #1F4E9E 53px 53px,
    #1F4E9E 54px 54px,
    #1F4E9E 55px 55px,
    #1F4E9E 56px 56px,
    #1F4E9E 57px 57px,
    #1F4E9E 58px 58px,
    #1F4E9E 59px 59px,
    #1F4E9E 60px 60px,
    #1F4E9E 61px 61px,
    #1F4E9E 62px 62px,
    #1F4E9E 63px 63px,
    #1F4E9E 64px 64px,
    #1F4E9E 65px 65px,
    #1F4E9E 66px 66px,
    #1F4E9E 67px 67px,
    #1F4E9E 68px 68px,
    #1F4E9E 69px 69px,
    #1F4E9E 70px 70px,
    #1F4E9E 71px 71px,
    #1F4E9E 72px 72px,
    #1F4E9E 73px 73px,
    #1F4E9E 74px 74px,
    #1F4E9E 75px 75px,
    #1F4E9E 76px 76px,
    #1F4E9E 77px 77px,
    #1F4E9E 78px 78px,
    #1F4E9E 79px 79px,
    #1F4E9E 80px 80px,
    #1F4E9E 81px 81px,
    #1F4E9E 82px 82px,
    #1F4E9E 83px 83px,
    #1F4E9E 84px 84px,
    #1F4E9E 85px 85px,
    #1F4E9E 86px 86px,
    #1F4E9E 87px 87px,
    #1F4E9E 88px 88px,
    #1F4E9E 89px 89px,
    #1F4E9E 90px 90px,
    #1F4E9E 91px 91px,
    #1F4E9E 92px 92px,
    #1F4E9E 93px 93px,
    #1F4E9E 94px 94px,
    #1F4E9E 95px 95px,
    #1F4E9E 96px 96px,
    #1F4E9E 97px 97px,
    #1F4E9E 98px 98px,
    #1F4E9E 99px 99px,
    #1F4E9E 100px 100px;
}

.azul-escuro.text-shadow {
    text-shadow: #002A85 1px 1px,
    #002A85 2px 2px,
    #002A85 3px 3px,
    #002A85 4px 4px,
    #002A85 5px 5px,
    #002A85 6px 6px,
    #002A85 7px 7px,
    #002A85 8px 8px,
    #002A85 9px 9px,
    #002A85 10px 10px,
    #002A85 11px 11px,
    #002A85 12px 12px,
    #002A85 13px 13px,
    #002A85 14px 14px,
    #002A85 15px 15px,
    #002A85 16px 16px,
    #002A85 17px 17px,
    #002A85 18px 18px,
    #002A85 19px 19px,
    #002A85 20px 20px,
    #002A85 21px 21px,
    #002A85 22px 22px,
    #002A85 23px 23px,
    #002A85 24px 24px,
    #002A85 25px 25px,
    #002A85 26px 26px,
    #002A85 27px 27px,
    #002A85 28px 28px,
    #002A85 29px 29px,
    #002A85 30px 30px,
    #002A85 31px 31px,
    #002A85 32px 32px,
    #002A85 33px 33px,
    #002A85 34px 34px,
    #002A85 35px 35px,
    #002A85 36px 36px,
    #002A85 37px 37px,
    #002A85 38px 38px,
    #002A85 39px 39px,
    #002A85 40px 40px,
    #002A85 41px 41px,
    #002A85 42px 42px,
    #002A85 43px 43px,
    #002A85 44px 44px,
    #002A85 45px 45px,
    #002A85 46px 46px,
    #002A85 47px 47px,
    #002A85 48px 48px,
    #002A85 49px 49px,
    #002A85 50px 50px,
    #002A85 51px 51px,
    #002A85 52px 52px,
    #002A85 53px 53px,
    #002A85 54px 54px,
    #002A85 55px 55px,
    #002A85 56px 56px,
    #002A85 57px 57px,
    #002A85 58px 58px,
    #002A85 59px 59px,
    #002A85 60px 60px,
    #002A85 61px 61px,
    #002A85 62px 62px,
    #002A85 63px 63px,
    #002A85 64px 64px,
    #002A85 65px 65px,
    #002A85 66px 66px,
    #002A85 67px 67px,
    #002A85 68px 68px,
    #002A85 69px 69px,
    #002A85 70px 70px,
    #002A85 71px 71px,
    #002A85 72px 72px,
    #002A85 73px 73px,
    #002A85 74px 74px,
    #002A85 75px 75px,
    #002A85 76px 76px,
    #002A85 77px 77px,
    #002A85 78px 78px,
    #002A85 79px 79px,
    #002A85 80px 80px,
    #002A85 81px 81px,
    #002A85 82px 82px,
    #002A85 83px 83px,
    #002A85 84px 84px,
    #002A85 85px 85px,
    #002A85 86px 86px,
    #002A85 87px 87px,
    #002A85 88px 88px,
    #002A85 89px 89px,
    #002A85 90px 90px,
    #002A85 91px 91px,
    #002A85 92px 92px,
    #002A85 93px 93px,
    #002A85 94px 94px,
    #002A85 95px 95px,
    #002A85 96px 96px,
    #002A85 97px 97px,
    #002A85 98px 98px,
    #002A85 99px 99px,
    #002A85 100px 100px;
}

.azul-petroleo.text-shadow {
    text-shadow: #225A77 1px 1px,
    #225A77 2px 2px,
    #225A77 3px 3px,
    #225A77 4px 4px,
    #225A77 5px 5px,
    #225A77 6px 6px,
    #225A77 7px 7px,
    #225A77 8px 8px,
    #225A77 9px 9px,
    #225A77 10px 10px,
    #225A77 11px 11px,
    #225A77 12px 12px,
    #225A77 13px 13px,
    #225A77 14px 14px,
    #225A77 15px 15px,
    #225A77 16px 16px,
    #225A77 17px 17px,
    #225A77 18px 18px,
    #225A77 19px 19px,
    #225A77 20px 20px,
    #225A77 21px 21px,
    #225A77 22px 22px,
    #225A77 23px 23px,
    #225A77 24px 24px,
    #225A77 25px 25px,
    #225A77 26px 26px,
    #225A77 27px 27px,
    #225A77 28px 28px,
    #225A77 29px 29px,
    #225A77 30px 30px,
    #225A77 31px 31px,
    #225A77 32px 32px,
    #225A77 33px 33px,
    #225A77 34px 34px,
    #225A77 35px 35px,
    #225A77 36px 36px,
    #225A77 37px 37px,
    #225A77 38px 38px,
    #225A77 39px 39px,
    #225A77 40px 40px,
    #225A77 41px 41px,
    #225A77 42px 42px,
    #225A77 43px 43px,
    #225A77 44px 44px,
    #225A77 45px 45px,
    #225A77 46px 46px,
    #225A77 47px 47px,
    #225A77 48px 48px,
    #225A77 49px 49px,
    #225A77 50px 50px,
    #225A77 51px 51px,
    #225A77 52px 52px,
    #225A77 53px 53px,
    #225A77 54px 54px,
    #225A77 55px 55px,
    #225A77 56px 56px,
    #225A77 57px 57px,
    #225A77 58px 58px,
    #225A77 59px 59px,
    #225A77 60px 60px,
    #225A77 61px 61px,
    #225A77 62px 62px,
    #225A77 63px 63px,
    #225A77 64px 64px,
    #225A77 65px 65px,
    #225A77 66px 66px,
    #225A77 67px 67px,
    #225A77 68px 68px,
    #225A77 69px 69px,
    #225A77 70px 70px,
    #225A77 71px 71px,
    #225A77 72px 72px,
    #225A77 73px 73px,
    #225A77 74px 74px,
    #225A77 75px 75px,
    #225A77 76px 76px,
    #225A77 77px 77px,
    #225A77 78px 78px,
    #225A77 79px 79px,
    #225A77 80px 80px,
    #225A77 81px 81px,
    #225A77 82px 82px,
    #225A77 83px 83px,
    #225A77 84px 84px,
    #225A77 85px 85px,
    #225A77 86px 86px,
    #225A77 87px 87px,
    #225A77 88px 88px,
    #225A77 89px 89px,
    #225A77 90px 90px,
    #225A77 91px 91px,
    #225A77 92px 92px,
    #225A77 93px 93px,
    #225A77 94px 94px,
    #225A77 95px 95px,
    #225A77 96px 96px,
    #225A77 97px 97px,
    #225A77 98px 98px,
    #225A77 99px 99px,
    #225A77 100px 100px;
}

.azul-turquesa.text-shadow {
    text-shadow: #005B7C 1px 1px,
    #005B7C 2px 2px,
    #005B7C 3px 3px,
    #005B7C 4px 4px,
    #005B7C 5px 5px,
    #005B7C 6px 6px,
    #005B7C 7px 7px,
    #005B7C 8px 8px,
    #005B7C 9px 9px,
    #005B7C 10px 10px,
    #005B7C 11px 11px,
    #005B7C 12px 12px,
    #005B7C 13px 13px,
    #005B7C 14px 14px,
    #005B7C 15px 15px,
    #005B7C 16px 16px,
    #005B7C 17px 17px,
    #005B7C 18px 18px,
    #005B7C 19px 19px,
    #005B7C 20px 20px,
    #005B7C 21px 21px,
    #005B7C 22px 22px,
    #005B7C 23px 23px,
    #005B7C 24px 24px,
    #005B7C 25px 25px,
    #005B7C 26px 26px,
    #005B7C 27px 27px,
    #005B7C 28px 28px,
    #005B7C 29px 29px,
    #005B7C 30px 30px,
    #005B7C 31px 31px,
    #005B7C 32px 32px,
    #005B7C 33px 33px,
    #005B7C 34px 34px,
    #005B7C 35px 35px,
    #005B7C 36px 36px,
    #005B7C 37px 37px,
    #005B7C 38px 38px,
    #005B7C 39px 39px,
    #005B7C 40px 40px,
    #005B7C 41px 41px,
    #005B7C 42px 42px,
    #005B7C 43px 43px,
    #005B7C 44px 44px,
    #005B7C 45px 45px,
    #005B7C 46px 46px,
    #005B7C 47px 47px,
    #005B7C 48px 48px,
    #005B7C 49px 49px,
    #005B7C 50px 50px,
    #005B7C 51px 51px,
    #005B7C 52px 52px,
    #005B7C 53px 53px,
    #005B7C 54px 54px,
    #005B7C 55px 55px,
    #005B7C 56px 56px,
    #005B7C 57px 57px,
    #005B7C 58px 58px,
    #005B7C 59px 59px,
    #005B7C 60px 60px,
    #005B7C 61px 61px,
    #005B7C 62px 62px,
    #005B7C 63px 63px,
    #005B7C 64px 64px,
    #005B7C 65px 65px,
    #005B7C 66px 66px,
    #005B7C 67px 67px,
    #005B7C 68px 68px,
    #005B7C 69px 69px,
    #005B7C 70px 70px,
    #005B7C 71px 71px,
    #005B7C 72px 72px,
    #005B7C 73px 73px,
    #005B7C 74px 74px,
    #005B7C 75px 75px,
    #005B7C 76px 76px,
    #005B7C 77px 77px,
    #005B7C 78px 78px,
    #005B7C 79px 79px,
    #005B7C 80px 80px,
    #005B7C 81px 81px,
    #005B7C 82px 82px,
    #005B7C 83px 83px,
    #005B7C 84px 84px,
    #005B7C 85px 85px,
    #005B7C 86px 86px,
    #005B7C 87px 87px,
    #005B7C 88px 88px,
    #005B7C 89px 89px,
    #005B7C 90px 90px,
    #005B7C 91px 91px,
    #005B7C 92px 92px,
    #005B7C 93px 93px,
    #005B7C 94px 94px,
    #005B7C 95px 95px,
    #005B7C 96px 96px,
    #005B7C 97px 97px,
    #005B7C 98px 98px,
    #005B7C 99px 99px,
    #005B7C 100px 100px;
}

.azul-profundo.text-shadow {
    text-shadow: #2A313B 1px 1px,
    #2A313B 2px 2px,
    #2A313B 3px 3px,
    #2A313B 4px 4px,
    #2A313B 5px 5px,
    #2A313B 6px 6px,
    #2A313B 7px 7px,
    #2A313B 8px 8px,
    #2A313B 9px 9px,
    #2A313B 10px 10px,
    #2A313B 11px 11px,
    #2A313B 12px 12px,
    #2A313B 13px 13px,
    #2A313B 14px 14px,
    #2A313B 15px 15px,
    #2A313B 16px 16px,
    #2A313B 17px 17px,
    #2A313B 18px 18px,
    #2A313B 19px 19px,
    #2A313B 20px 20px,
    #2A313B 21px 21px,
    #2A313B 22px 22px,
    #2A313B 23px 23px,
    #2A313B 24px 24px,
    #2A313B 25px 25px,
    #2A313B 26px 26px,
    #2A313B 27px 27px,
    #2A313B 28px 28px,
    #2A313B 29px 29px,
    #2A313B 30px 30px,
    #2A313B 31px 31px,
    #2A313B 32px 32px,
    #2A313B 33px 33px,
    #2A313B 34px 34px,
    #2A313B 35px 35px,
    #2A313B 36px 36px,
    #2A313B 37px 37px,
    #2A313B 38px 38px,
    #2A313B 39px 39px,
    #2A313B 40px 40px,
    #2A313B 41px 41px,
    #2A313B 42px 42px,
    #2A313B 43px 43px,
    #2A313B 44px 44px,
    #2A313B 45px 45px,
    #2A313B 46px 46px,
    #2A313B 47px 47px,
    #2A313B 48px 48px,
    #2A313B 49px 49px,
    #2A313B 50px 50px,
    #2A313B 51px 51px,
    #2A313B 52px 52px,
    #2A313B 53px 53px,
    #2A313B 54px 54px,
    #2A313B 55px 55px,
    #2A313B 56px 56px,
    #2A313B 57px 57px,
    #2A313B 58px 58px,
    #2A313B 59px 59px,
    #2A313B 60px 60px,
    #2A313B 61px 61px,
    #2A313B 62px 62px,
    #2A313B 63px 63px,
    #2A313B 64px 64px,
    #2A313B 65px 65px,
    #2A313B 66px 66px,
    #2A313B 67px 67px,
    #2A313B 68px 68px,
    #2A313B 69px 69px,
    #2A313B 70px 70px,
    #2A313B 71px 71px,
    #2A313B 72px 72px,
    #2A313B 73px 73px,
    #2A313B 74px 74px,
    #2A313B 75px 75px,
    #2A313B 76px 76px,
    #2A313B 77px 77px,
    #2A313B 78px 78px,
    #2A313B 79px 79px,
    #2A313B 80px 80px,
    #2A313B 81px 81px,
    #2A313B 82px 82px,
    #2A313B 83px 83px,
    #2A313B 84px 84px,
    #2A313B 85px 85px,
    #2A313B 86px 86px,
    #2A313B 87px 87px,
    #2A313B 88px 88px,
    #2A313B 89px 89px,
    #2A313B 90px 90px,
    #2A313B 91px 91px,
    #2A313B 92px 92px,
    #2A313B 93px 93px,
    #2A313B 94px 94px,
    #2A313B 95px 95px,
    #2A313B 96px 96px,
    #2A313B 97px 97px,
    #2A313B 98px 98px,
    #2A313B 99px 99px,
    #2A313B 100px 100px;
}